### PROTECT FILES ###
<FilesMatch "\.(htaccess(htpasswd|ini|fla|psd|log|sh)$">
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-programiste-webowego index.html
RewriteRule kim-jestem kimjestem.html
RewriteRule oferta-tworzenie-stron-www oferta.html
RewriteRule cv-programista-php-javascript-robotyk cv.html
RewriteRule kontakt-programista-php kontakt.html