body
{
    background-color: #333333;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.rectangle
{
    width: 960px;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}
#logo
{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    width: 600px;
    margin-top: 20px;
    text-align: justify;
}
#clock
{
    float: left;
    font-size: 70px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
    text-align: justify;
}
.square
{
    width: 500px;
    float: left; 
}

.tile1
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
}
.tile2
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
}
.tile3
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
}
.tile4
{
    margin: 10px;
    width: 480px;
    height: 142px;
    background-color: #ee5a52;
    text-align: center;
}
.tile5
{
    margin: 10px;
    width: 480px;
    height: 304px;
    background-color: #666666;
    text-align: center;
}
.lin
{
    float: left;
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #0a66c2;
}
.yt
{
    float: left;
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #c4302b;
}
.phone
{
    float: left;
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #ff6900;
}
.tile9
{
    float: left;
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #000000;
}
