body
{
    background-color: #333333;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.rectangle
{
    width: 960px;
    margin: 20px;
    text-align: center;
}
#logo
{
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    width: 600px;
    margin-top: 20px;
    text-align: justify;
}
#clock
{
    float: left;
    font-size: 70px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 20px;
    text-align: justify;
}
.square
{
    width: 500px;
    float: left; 
}

.tile1
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;

}
.tile1:hover
{
    background-color: #2084c2;
}
.tile2
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
}
.tile2:hover
{
    background-color: #555555;
}
.tile3
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
}
.tile3:hover
{
    background-color: #82b627;
}
.tile4
{
    margin: 10px;
    width: 420px;
    height: 82px;
    background-color: #ee5a52;
    text-align: center;
    font-size: 25px;
    padding: 30px;
    line-height: 150%;
}
.tile5
{
    margin: 10px;
    width: 420px;
    height: 244px;
    background-color: #666666;
    text-align: justify;
    padding: 30px;
}
.lin
{
    float: left;
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #0a66c2;
}
.lin:hover
{
    background-color: #0955b1;
}
.fb
{
    float: left;
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #385898;
}
.fb:hover
{
    background-color: #274787;
}
.phone
{
    float: left;
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #ff6900;
}
.phone:hover
{
    background-color: #ee5800;
}
.github
{
    float: left;
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #111111;
}
.github:hover
{
    background-color: #000000;
}
/*html4 while div sholdnt be inside href */
a.taillink
{
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 142px;
}
/*html5 while div may be in href*/
a.taillinkhtml5
{
    color: #ffffff;
    text-decoration: none;
}
